@font-face {
    font-family: "Local-Market-Script";
    src: url("../fonts/Local\ Market\ Script.otf") format("opentype");
}
@font-face {
    font-family: "DIN-regular";
    src: url("../fonts/DIN\ Alternate.ttf") format("truetype");
}
@font-face {
    font-family: "DIN-bold";
    src: url("../fonts/DIN\ Alternate\ Black.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;700&display=swap');

:root {
    --navbar:#93628f;
    --hero:#5e3b4c;
    --light:#f9eee8;
    --dark:#4a2849;
    --white:#f5f7f6;
  }

body {
    background-image: url("../images/bg.jpg");
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 0;

    a {
        color: var(--navbar);
        text-decoration: none;
    }

    P {
        letter-spacing: .03em;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #93628f;
    padding: 1em 1.5em;
    height: auto;

    .logo {
        font-family: 'Alfa Slab One', cursive;
        color: white;
        text-decoration: none;
        font-weight: normal;
        font-size: 1em;
        letter-spacing: .03em;
    }

    img {
        width: 1.5em;
        cursor: pointer;
        border: white 3px;
    }

    .container  {
        
        display: flex;
        place-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
    }
}

h1 {
    font-family: "Local-Market-Script";
    font-weight: normal;
    font-size: 2em;
}

span {
    font-weight: bold;
}

.hero {

    margin: 1.5em 1.5em 0 1.5em;
    background: #5e3b4c;

    h1 {
        font-size: 1.2em;
        margin: 0;
    }

    
    h2 {
        font-family: "DIN-regular";
        font-size: .8em;
        margin: 0;
    }

    p {
        font-family: "Roboto";
        line-height: 1.7em;
        margin-bottom: 0;
        font-size: .8em;
    }

}

.mobile-content {

    .content-1 {
        
        background: #5e3b4c;
        position: relative;
        align-items: center;
        display: flex;

        .img-eggplant {
            margin: auto;
        }

        .btn-wrapper {
            display: flex;
            width: 80%;
            place-content: space-between;
            position: absolute;
            z-index: 999;
            top: 30%;
            left: 10%;
            
            a {
                text-decoration: none;
                color: white;
                
            }

            a:hover {
                font-weight: bold;
            }

            p {
                font-size: 3em;
                font-family: "Local-Market-Script";
                text-shadow: 2px 2px 1px black;
                text-align: center;
            }
        }



    }

    .content-2 {

        background: #f9eee8;
        color: var(--navbar);
        text-align: center;

        h1 {

            color: var(--hero);

        }

    }

    .content-3 {    
        
        background: var(--dark);
        text-align: center;

        h1 {

            color: white;

        }

    }

    .content-4 {
        
        background: var(--navbar);
        color: var(--navbar);
        text-align: center;

        h1 {
            color: var(--white);
        }

        p {
            color: var(--dark);
        }
        
    }

    
}


//mobile li style
@media only screen and (min-width: 0px) and (max-width: 375px) {

    .mobile-content {

        .container {

            li {
                padding: 1.5em;
                margin-bottom: 1.5em;
            }
        }  
    } 
}

//mobile styles--------------------------------------------------------------
@media only screen and (min-width: 0px) and (max-width: 767px) {

    .right-col {
        display: none;
    }

    .hero {

        padding: 1.5em;
        
        .website-title {
            display: none;
        }

        .btn-hero {
            display: none;
        }

        .profile-wrapper {
            display: flex;
        }

        .span-normal {
            font-weight: normal;
        }

        .container {
            img {
                width: 5em;
            }
    
            .profile-photo {
                margin-right: 1em;
            }
        
            .name-wrapper {
                margin: auto 0;
            }
        }
    }

    .mobile-content {

        margin: 1.5em 1.5em 1.5em 1.5em;

        h1 {
            font-size: 1.2em;
            margin: 0;
        }
    
        p {
            font-family: "Roboto";
            line-height: 1.4em;
            margin: 0;
            font-size: .7em;
            width: 100%;
        }

        .container {

            .img-eggplant {
                height: 120px;;
            }

            li {
                padding: 1.5em;
            }

            img {
                height: 3em;
                margin-bottom: 3px;
            }
        }  
    } 
}

//Eggplant on Content1
@media only screen and (min-width: 600px) {

    .content-1 {
        display: none;
    }

}

//mobile content grid style
@media only screen and (min-width: 375px) {

    body {
        min-width: fit-content;

        .mobile-content {

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

//tablet styles--------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 899px) {

    body {
        padding: 2em;
        margin: 0 auto;
    
        .name-wrapper {
            display: inline;
        }

        .hero {
            margin: 2em 0;
            padding: 1.5em;

            .container {
                display: flex;

                        
                .span-normal {
                    font-weight: normal;
                }

                .website-title {
                    display: none;
                }

                .btn-hero {
                    display: none;
                }

                .left-col {
                    width: 60%;

                    .profile-wrapper {
                        display: flex;
                    }
                }

                .right-col {
                    margin: auto;
                    align-items: center;
                    position: relative;
                    display: flex;
                    
                    .img-eggplant-hero {
                        width: 8em;

                    }

                    .btn-wrapper-hero {

                        position: absolute;
                        display: flex;
                        z-index: 999;
                        transform: rotate(90deg);
                        place-content: space-between;
                        //top: 18%;
                        left: -75%;
                        width: 390px;
                        
                        a {
                            text-decoration: none;
                            color: white;
                        
                        }
            
                        a:hover {
                            font-weight: bold;
                        }
            
                        p {
                            font-size: 4em;
                            font-family: "Local-Market-Script";
                            text-shadow: 2px 2px 1px black;
                            text-align: center;
                        }
                        
                    }
                }

                img {
                    width: 5em;
                }

        
                .profile-photo {
                    margin-right: 1em;
                }
            
                .name-wrapper {
                    margin: auto 0;
                }
            
            }
        }

        .mobile-content {
                        
            h1 {
                font-size: 1.5em;
                margin: .2em;
            }
        
            p {
                font-family: "Roboto";
                line-height: 1.4em;
                margin: 0;
                font-size: .8em;
                width: 100%;
            }

            .container {
                margin: 0;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .content-1 {
                    display: none;
                }

                li {
                    margin: 0;
                    padding: 2em;
                }

                img {
                    height: 3.5em;
                    margin-bottom: .7em;
                }
            }
        }
    }

}


//desktop styles--------------------------------------------------------------
@media only screen and (min-width: 900px) {
    
    .navbar{
        display: none;
    }

    .hero {
        width: 900px;
        margin: 2em auto;
        padding: 2em 0em;

        .span-normal {
            display: none;
        }

        .website-title {
            font-family: 'Alfa Slab One', cursive;
            font-weight: normal;
            font-size: 3em;
            letter-spacing: .01em;
        }

        .container {
            display: flex;

            .btn-hero {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                background-color: white;
                padding: 1em 2em;
                width: auto;
                border-radius: 50em;
                display: inline-block;

                p {
                    margin: 0;
                }
            }

            .btn-hero:hover {
                background-color: var(--navbar);
                color: var(--white);
            }

            .left-col {
                width: 50%;
                padding: 3em;

                .profile-wrapper {
                    display: none;
                }
            }

            .right-col {
                margin: auto;
                padding: 3em;
                align-items: center;
                position: relative;
                display: flex;
                
                .img-eggplant-hero {
                    width: 8em;

                }

                .btn-wrapper-hero {

                    position: absolute;
                    display: flex;
                    z-index: 999;
                    place-content: space-between;
                    top: 15%;
                    left: -5%;
                    width: 230px;
                    
                    a {
                        text-decoration: none;
                        color: white;
                    
                    }
        
                    a:hover {
                        font-weight: bold;
                    }
        
                    p {
                        font-size: 4em;
                        font-family: "Local-Market-Script";
                        text-shadow: 2px 2px 1px black;
                        text-align: center;
                    }
                    
                }
            }

            img {
                width: 5em;
            }

    
            .profile-photo {
                margin-right: 1em;
            }
        
            .name-wrapper {
                margin: auto 0;
            }
        
        }
    }

    .mobile-content {

        width: 900px;
        margin: 2em auto;
                        
        h1 {
            font-size: 1.5em;
            margin: .2em;
        }
    
        p {
            font-family: "Roboto";
            line-height: 1.4em;
            margin: 0;
            font-size: .8em;
            width: 100%;
        }

        .container {
            margin: 0;

            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
    
                .content-1 {
                    display: none;
                }
    
                li {
                    margin: 0;
                    padding: 2em;
                }
    
                img {
                    height: 3.5em;
                    margin-bottom: .7em;
                }
            }
        }


    }
}