@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Local-Market-Script";
  src: url("../fonts/Local Market Script.otf") format("opentype");
}

@font-face {
  font-family: "DIN-regular";
  src: url("../fonts/DIN Alternate.ttf") format("truetype");
}

@font-face {
  font-family: "DIN-bold";
  src: url("../fonts/DIN Alternate Black.ttf") format("truetype");
}

:root {
  --navbar:#93628f;
  --hero:#5e3b4c;
  --light:#f9eee8;
  --dark:#4a2849;
  --white:#f5f7f6;
}

body {
  background-image: url("../images/bg.jpg");
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 0;
}

body a {
  color: var(--navbar);
  text-decoration: none;
}

body P {
  letter-spacing: .03em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #93628f;
  padding: 1em 1.5em;
  height: auto;
}

.navbar .logo {
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: .03em;
}

.navbar img {
  width: 1.5em;
  cursor: pointer;
  border: white 3px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-family: "Local-Market-Script";
  font-weight: normal;
  font-size: 2em;
}

span {
  font-weight: bold;
}

.hero {
  margin: 1.5em 1.5em 0 1.5em;
  background: #5e3b4c;
}

.hero h1 {
  font-size: 1.2em;
  margin: 0;
}

.hero h2 {
  font-family: "DIN-regular";
  font-size: .8em;
  margin: 0;
}

.hero p {
  font-family: "Roboto";
  line-height: 1.7em;
  margin-bottom: 0;
  font-size: .8em;
}

.mobile-content .content-1 {
  background: #5e3b4c;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-content .content-1 .img-eggplant {
  margin: auto;
}

.mobile-content .content-1 .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  place-content: space-between;
  position: absolute;
  z-index: 999;
  top: 30%;
  left: 10%;
}

.mobile-content .content-1 .btn-wrapper a {
  text-decoration: none;
  color: white;
}

.mobile-content .content-1 .btn-wrapper a:hover {
  font-weight: bold;
}

.mobile-content .content-1 .btn-wrapper p {
  font-size: 3em;
  font-family: "Local-Market-Script";
  text-shadow: 2px 2px 1px black;
  text-align: center;
}

.mobile-content .content-2 {
  background: #f9eee8;
  color: var(--navbar);
  text-align: center;
}

.mobile-content .content-2 h1 {
  color: var(--hero);
}

.mobile-content .content-3 {
  background: var(--dark);
  text-align: center;
}

.mobile-content .content-3 h1 {
  color: white;
}

.mobile-content .content-4 {
  background: var(--navbar);
  color: var(--navbar);
  text-align: center;
}

.mobile-content .content-4 h1 {
  color: var(--white);
}

.mobile-content .content-4 p {
  color: var(--dark);
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  .mobile-content .container li {
    padding: 1.5em;
    margin-bottom: 1.5em;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .right-col {
    display: none;
  }
  .hero {
    padding: 1.5em;
  }
  .hero .website-title {
    display: none;
  }
  .hero .btn-hero {
    display: none;
  }
  .hero .profile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .span-normal {
    font-weight: normal;
  }
  .hero .container img {
    width: 5em;
  }
  .hero .container .profile-photo {
    margin-right: 1em;
  }
  .hero .container .name-wrapper {
    margin: auto 0;
  }
  .mobile-content {
    margin: 1.5em 1.5em 1.5em 1.5em;
  }
  .mobile-content h1 {
    font-size: 1.2em;
    margin: 0;
  }
  .mobile-content p {
    font-family: "Roboto";
    line-height: 1.4em;
    margin: 0;
    font-size: .7em;
    width: 100%;
  }
  .mobile-content .container .img-eggplant {
    height: 120px;
  }
  .mobile-content .container li {
    padding: 1.5em;
  }
  .mobile-content .container img {
    height: 3em;
    margin-bottom: 3px;
  }
}

@media only screen and (min-width: 600px) {
  .content-1 {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  body {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  body .mobile-content ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  body {
    padding: 2em;
    margin: 0 auto;
  }
  body .name-wrapper {
    display: inline;
  }
  body .hero {
    margin: 2em 0;
    padding: 1.5em;
  }
  body .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .hero .container .span-normal {
    font-weight: normal;
  }
  body .hero .container .website-title {
    display: none;
  }
  body .hero .container .btn-hero {
    display: none;
  }
  body .hero .container .left-col {
    width: 60%;
  }
  body .hero .container .left-col .profile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .hero .container .right-col {
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .hero .container .right-col .img-eggplant-hero {
    width: 8em;
  }
  body .hero .container .right-col .btn-wrapper-hero {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    place-content: space-between;
    left: -75%;
    width: 390px;
  }
  body .hero .container .right-col .btn-wrapper-hero a {
    text-decoration: none;
    color: white;
  }
  body .hero .container .right-col .btn-wrapper-hero a:hover {
    font-weight: bold;
  }
  body .hero .container .right-col .btn-wrapper-hero p {
    font-size: 4em;
    font-family: "Local-Market-Script";
    text-shadow: 2px 2px 1px black;
    text-align: center;
  }
  body .hero .container img {
    width: 5em;
  }
  body .hero .container .profile-photo {
    margin-right: 1em;
  }
  body .hero .container .name-wrapper {
    margin: auto 0;
  }
  body .mobile-content h1 {
    font-size: 1.5em;
    margin: .2em;
  }
  body .mobile-content p {
    font-family: "Roboto";
    line-height: 1.4em;
    margin: 0;
    font-size: .8em;
    width: 100%;
  }
  body .mobile-content .container {
    margin: 0;
  }
  body .mobile-content ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body .mobile-content ul .content-1 {
    display: none;
  }
  body .mobile-content ul li {
    margin: 0;
    padding: 2em;
  }
  body .mobile-content ul img {
    height: 3.5em;
    margin-bottom: .7em;
  }
}

@media only screen and (min-width: 900px) {
  .navbar {
    display: none;
  }
  .hero {
    width: 900px;
    margin: 2em auto;
    padding: 2em 0em;
  }
  .hero .span-normal {
    display: none;
  }
  .hero .website-title {
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    font-size: 3em;
    letter-spacing: .01em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .container .btn-hero {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    padding: 1em 2em;
    width: auto;
    border-radius: 50em;
    display: inline-block;
  }
  .hero .container .btn-hero p {
    margin: 0;
  }
  .hero .container .btn-hero:hover {
    background-color: var(--navbar);
    color: var(--white);
  }
  .hero .container .left-col {
    width: 50%;
    padding: 3em;
  }
  .hero .container .left-col .profile-wrapper {
    display: none;
  }
  .hero .container .right-col {
    margin: auto;
    padding: 3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .container .right-col .img-eggplant-hero {
    width: 8em;
  }
  .hero .container .right-col .btn-wrapper-hero {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    place-content: space-between;
    top: 15%;
    left: -5%;
    width: 230px;
  }
  .hero .container .right-col .btn-wrapper-hero a {
    text-decoration: none;
    color: white;
  }
  .hero .container .right-col .btn-wrapper-hero a:hover {
    font-weight: bold;
  }
  .hero .container .right-col .btn-wrapper-hero p {
    font-size: 4em;
    font-family: "Local-Market-Script";
    text-shadow: 2px 2px 1px black;
    text-align: center;
  }
  .hero .container img {
    width: 5em;
  }
  .hero .container .profile-photo {
    margin-right: 1em;
  }
  .hero .container .name-wrapper {
    margin: auto 0;
  }
  .mobile-content {
    width: 900px;
    margin: 2em auto;
  }
  .mobile-content h1 {
    font-size: 1.5em;
    margin: .2em;
  }
  .mobile-content p {
    font-family: "Roboto";
    line-height: 1.4em;
    margin: 0;
    font-size: .8em;
    width: 100%;
  }
  .mobile-content .container {
    margin: 0;
  }
  .mobile-content .container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .mobile-content .container ul .content-1 {
    display: none;
  }
  .mobile-content .container ul li {
    margin: 0;
    padding: 2em;
  }
  .mobile-content .container ul img {
    height: 3.5em;
    margin-bottom: .7em;
  }
}
/*# sourceMappingURL=main.css.map */